
<main id="main" class="container mt-5">
    <div class="row d-flex d-flex justify-content-between">
        {{#each carts}}
        <H1>CARRITO</H1>
        <div class="card col-3 m-2 border border-4">
            <div class="card-body">
                <h1 class="card-title text-center">TOTAL: ${{priceTotal}}</h1>
                <h2 class="card-text text-center ">{{products}}</h2>
                <h5>Cantidad: {{quantityTotal}}</h5>
            </div>
        </div>
        {{/each}}
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"crossorigin="anonymous"></script>