
<link rel='stylesheet' href='/css/styles.css' />
<header>
  <div></div>
  <h1>Recover your password</h1>
  <div></div>
</header>
<main>
  <form id='recoverForm'  class='form'>
    <div class='formOrder'>
      <label>Email</label>
      <input type='email' id="email" placeholder="email" ></input>
    </div>
    <button type='submit' class='submit'>Enviar</button>
  </form>
  <div class='switch'>
    <p>Loggin<a href='http://localhost:8080/login/'>aquí</a></p>
  </div>
</main>
<script src='//cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='/js/forgot-password.js'></script>
