
<div>
    <form id="formulario">
        <h1>Actualizar contraseña</h1>
        <input id="email" type="email" placeholder="Ingresa tu email">
        <input id="password" type="password" placeholder="Ingresa tu nueva contraseña">
        <button type="submit">Cambiar contraseña</button>
    </form>
</div>

<script src="/js/forgot-password.js"></script>